@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

a,
.btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.chat-messages {
    text-align: left;
    border: 1px solid;
    border-color: rgb(153, 153, 153);
    overflow: scroll;
    height: 90%;
}

.chat-messages p.msg {
    margin: 0;
}

.chat-messages p.msg .msg-meta{
    display: inline-block;
    width: 100%;
}

.chat-messages p.msg .msg-meta .who {
    font-weight: bold;
}

.chat-messages p.msg .msg-meta .when {
    font-size: 13px;
    font-weight: 200;
}

.chat-messages p.msg .what {
    display: inline-block;
    width: 100%;
}


.users{
    background-color: #5f0034;
    color: #fff;
    text-align: left;
}
.users .status-online{
    color: #00d000;
}
.users .status-offline{
    color: #d00000;
}

.msg-form-container{
    width: 100%;
    height: 10%;
}